@import '@sass/utilities/variables';

.recurrings-wrapper {
    display: flex;
    gap : $spacing-xl;
}

.recurrings-info-section {
    display: flex;
    flex-direction: column;
    gap : $spacing-xl;

    width: 30%;

    .overview-card-wrapper {
        flex : 0;
    }
}

.recurrings-filter-section {
    width: 70%;

    .category-wrapper {
        display: none;
    }

    .search-input {
        width: 50%;
    }

    .transaction-middle {
        width: auto;
    }
}

.summary {
    background: white;
    border-radius: 15px;
    padding : 2em;

    display: flex;
    flex-direction: column;
    gap : $spacing-2xl;
}

.paid-bills , .total-upcomings , .due-soon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (max-width : 1024px) {
    .recurrings-wrapper {
        flex-direction: column;
    }

    .recurrings-info-section {
        flex-direction: row;
        width: 100%;
        
        .overview-card-wrapper , .summary {
            flex : 1;
        }
    }

    .recurrings-filter-section {
        width: 100%;
    }
}

@media (max-width : 584px) {
    .recurrings-info-section {
        flex-direction: column;
    }

    .recurrings-filter-section {
        .transaction-sender-info h4{
            text-wrap: wrap;
        }

        .search-input {
            width: auto;
        }
    }
}