@import '@sass/utilities/_variables.scss';

.overview-card-wrapper {
    background-color: white;
    padding: 2em;

    display: flex;
    flex : 1;
    gap : $spacing-lg;
    flex-direction: column;
    border-radius: 15px;

    &.active {
        background: $color-gray-dark;

        > * {
            color : $color-beige-light;
        }
    }
}

.overview-card-header {
    color : $color-beige;
    font-weight: $font-weight-regular;
}

@media (max-width : 968px) {
    .overview-card-wrapper h1 {
        font-size: 1.5rem;
    }
}
