@import '@sass/utilities/_variables.scss';

.sidebar-main {
    background: $color-gray-dark;
    width: $sidebar-width;
    max-width : 400px;
    height: 100vh;

    display: flex;
    flex-direction: column;

    border-top-right-radius: 15px;

    position: fixed;
    top: 0;

    transition: all 0.4s ease-in-out;

    &.minimized {
        text-wrap: nowrap;
        width: var(--sidebar-width);

        .h3-nav {
            opacity: 0;
        }

        .sidebar-item {
            width: 100%;
            border-radius: 0;
        }

        .minimize-menu img {
            transform: rotate(180deg);
        }
    }
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;

    gap : $spacing-3xl * 1.5 ;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    gap : $spacing-md;
}

.logo {
    padding-left: 2em;
    padding-top: 1em;
}

.sidebar-items-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding-inline : 2em;
    padding-block: 1.2em;
    border-radius: 0 15px 15px 0;

    gap : $spacing-lg;
    
    width: 90%;
  
    > * {
      transition: all 0.3s ease-in;
    }
  
    &:hover {
        h3 {
            color: white;
        }
      .sidebar-item-img svg {
        color : white;
      }
    }

    &.active {
        position: relative;
        background: white;
        h3 {
            color : $color-gray-dark;
        }

        .sidebar-item-img svg {
            color : $color-green;
        }

        &::before {
            content: '';
            position: absolute;
            left: -10px;
            top: 0;
            height: 100%;
            width: 15px;
            background-color: $color-green;
        }
    }
  }

  .sidebar-item-img {
    color : #b3b3b3;
  }

.minimize-menu {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2em;

    gap : $spacing-lg;

    cursor: pointer;

    h3 {
        transition: all 0.3s ease-in;

        &:hover {
            color : white;
        }
    }
}

// Sidebar location change

@media (max-width: 1168px) {
    .sidebar-main {
        width: 100%;
        height: auto;
        max-width: none;
        top: auto;
        bottom: 0;
        flex-direction: row;

        border-radius: 0;

        z-index: 1000;
    }

    .sidebar-menu {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

        .logo  , .minimize-menu{
            display: none;
        }
    }

    .sidebar-items {
        display: flex;
        flex-direction: row;
        padding-block-start: 1em;
        width: 100%;
        justify-content: space-around;
    }

    .sidebar-item {
        flex-direction: column;
        width: auto;
        border-radius: 10px;

        &.active {
            &::before {
                content: '';
                position: absolute;
                left: -10px;
                bottom : 0;
                top : auto;
                width: 100%;
                height: 10px;
                left : 0;
                background-color: $color-green;
            }
        }
    }
    

    .sidebar-items-wrapper {
        flex-direction: row;
        justify-content: space-around;
        height: auto;

        width: 100%;
    }
}

@media (max-width : 968px) {
    .sidebar-item {
        gap : $spacing-xs;
        padding: 1em;
    }

    .h3-nav {
        font-size : $font-size-md!important;
    }
}
  

