// Colors

    //Beige
    $color-beige: #98908B;
    $color-beige-light: #F8F4F0;

    // Gray
    $color-gray-dark : #201F24;
    $color-gray-normal : #696868;
    $color-gray-light : #B3B3B3;
    $color-gray-extra-light : #F2F2F2;

// Secondary Colors

$color-green : #277C78;
$color-yellow : #F2CDAC;
$color-cyan : #82C9D7;
$color-navy : #626070;
$color-red : #C94736;
$color-purple : #826CB0;

// Other Colors

$color-other-purple : #AF81BA;
$color-other-turqoise : #597C7C;
$color-other-brown : #93674F;
$color-other-magenta : #934F6F;
$color-other-blue : #3F82B2;
$color-other-navy-grey : #97A0AC;
$color-other-army-green : #7F9161;
$color-other-gold : #CAB361;
$color-other-orange : #BE6C49;


// Typography
$font-size-2xl : 2.5rem;
$font-size-xl : 2rem;
$font-size-lg : 1.2rem;
$font-size-md : 1rem;
$font-size-sm : .9rem;
$font-size-xs : .8rem;

$line-height-lg : 150%;
$line-height-md : 120%;

    // Font-Weights 
    $font-weight-bold : bold;
    $font-weight-regular : normal;

// Spacings

$spacing-3xl : 2.2rem;
$spacing-2xl : 2rem;
$spacing-xl : 1.5rem;
$spacing-lg : 1.2rem;
$spacing-md : 1rem;
$spacing-sm : .8rem;
$spacing-xs : .7rem;
$spacing-2xs : .6rem;