@import '@sass/utilities/_variables.scss';

.overview-cards {
    display: flex;
    width: 100%;
    gap : $spacing-2xl;
}

.overview-cards-section {
    display: flex;
    width: 100%;
}

.overview-content-section {
    width: 100%;
    display: flex;
    gap : $spacing-2xl;
}

/* Left and Right section */

.overview-left {
    display: flex;
    flex-direction: column;
    gap : $spacing-2xl;
    width: 55%;
}

.overview-right {
    display: flex;
    flex : 1;
    flex-direction: column;
}

.pots-overview-card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pots-overview-card-total {
    display: flex;
    width: 60%;
    gap : $spacing-lg;

    padding-inline: 1em;
    padding-block: 2em;
    border-radius: 15px;

    &-info {
        display: flex;
        flex-direction: column;
        gap : $spacing-sm;
    }
}

.pots-overview-card-visuals {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(2 , 1fr);
    gap : $spacing-3xl;
}

.transactions {
    display: flex;
    flex-direction: column;
    gap : $spacing-2xl;
}

@media (max-width : 1354px) {
    .overview-left {
        width: 50%;
    }

    .pots-overview-card-content {
        flex-direction: column;
    }

    .pots-overview-card-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pots-overview-card-visuals {
        width: 100%;
        justify-content: space-between;
    }

    .pots-overview-card-total {
        width: 100%;
        padding-inline: 0;
    }
}

// Kırılma Noktası

@media (max-width : 1248px) {
    .overview-content-section {
        flex-direction: column;
    }

    .overview-left , .overview-right {
        width: 100%;
    }

    .overview-right {
        padding-bottom: var(--sidebar-height);
    }

    .pots-overview-card-content {
        flex-direction: row;
    }

    .pots-overview-card-total {
        width: 100%;
        padding-inline: 1em;
    }
}

// Mobile Size

@media (max-width: 768px) {
    .overview-cards {
        flex-direction: column;
    }

    .pots-overview-card-content {
        flex-direction: column;
    }
}

@media (max-width : 568px) {
    .pots-overview-card-visuals {
        width: 85%;
    }

    .overview-right {
        gap : $spacing-2xl;
    }
}