@import '@sass/utilities/_variables.scss';

.card-delete {
    background: $color-red;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    color : white;
    font-weight: $font-weight-bold;
    border : none;

    border-radius: 5px;

    padding: 1.5em;

    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
        opacity: 0.8;
    }
}

.card-back {

    border : none;
    color : $color-beige;
    font-weight: $font-weight-bold;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
        color : $color-gray-dark;
    }
    
}