@import '../utilities/variables';
@import '../utilities/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    display: flex;
    background-color: $color-beige-light;
}

main {
    display: flex;
    flex-direction: column;
    flex : 1;
    padding: 2em;

    width: 100%;
}