@import '../utilities/variables';
@import '../utilities/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    display: flex;
    background-color: $color-beige-light;
}

main {
    display: flex;
    flex-direction: column;
    flex : 1;
    padding: 2em;

    width: 100%;
}

/* Card Header Section */

.overview-card-header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
        color : $color-gray-dark;
        font-size: $font-size-lg + .25rem;
    }
}

.overview-card-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap : $spacing-md;

    background: white;
    border-radius: 15px;
}