@import '../utilities/variables';

// basic

h1 {
    font-weight: $font-weight-bold;
    font-size: $font-size-2xl;
    color : $color-gray-dark;
}

h2 {
    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
    color : $color-gray-dark;
}

h3 {
    font-weight: $font-weight-bold;
    font-size : $font-size-lg;
    color : $color-gray-dark;
}

.h3-nav {
    font-weight: $font-weight-bold;
    font-size : $font-size-lg;
    color : $color-beige;
}

h4 , .h4 {
    font-weight: $font-weight-bold;
    color : $color-gray-dark;
    font-size: $font-size-md;

    &--alert {
        color : $color-red;
    }
}

h5 {
    font-weight: $font-weight-regular;
    font-size: $font-size-sm;
    color : $color-beige;
}

.small-bolt {
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;
    color : $color-gray-dark;
}

p , .p{
    font-weight: $font-weight-regular;
    font-size: $font-size-md;
    color : $color-gray-dark;

    &--alert {
        color : $color-red;
    }
}


// list-items

ul {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color : $color-beige;
}