@import '../utilities/variables';

// basic

h1 {
    font-weight: $font-weight-bold;
    font-size: $font-size-2xl;
    color : $color-gray-dark;
}

h3 {
    font-weight: $font-weight-bold;
    font-size : $font-size-lg;
    color : $color-gray-light;
}


// list-items

ul {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}