@import '@sass/utilities/_variables.scss';

.dropdown {
    position: relative;
    display: inline-block;

    cursor: pointer;
}

.dropdown-button-wrapper {
    border: 1px solid $color-navy;
    padding: .75em 1.5em;
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap : $spacing-sm;
    transition : all 0.3s ease-in;
    cursor: pointer;

    &:hover {
        border: 1px solid $color-gray-dark;

        @media (max-width : 768px) {
            border : none;
        }
    }

    button {
        border: none;
        background: none;
        outline: none;

        color : $color-gray-dark;
        font-weight: $font-weight-regular;
        font-size: $font-size-md;
    }
}

.dropdown-btn {
    cursor: pointer;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: white;
    min-width: 100%;
    left : 50%;
    transform: translateX(-50%);
    
    overflow: auto;

    padding: .75em;
    border-radius: 10px;

    z-index: 9999;
    transition: all 0.3s ease-in;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    max-height: 300px;
}

.dropdown-items {
    display: flex;
    flex-direction: column;
    gap : $spacing-md;
}

.dropdown-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap : $spacing-lg;

    text-align: start;
    padding: .5em;
    border-radius: 5px;

    &:hover {
        background: $color-yellow;
    }

}

@media (max-width : 768px) {
    .dropdown-button-wrapper {
        border : none;
    }

    .filter-arrow {
        display: none;
    }

    .dropdown-menu {
        transform: translateX(-90%);
    }
}

@media (max-width : 654px) {
    .dropdown-button-wrapper {
        padding: 0;
    }
}