@import '@sass/utilities/_variables';

.pot-wrapper {
    background: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: $spacing-3xl;

    border-radius: 15px;
    
    justify-content: space-between;
}

.pot-details{
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
}

.pot-details-info , .progress-bar-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.progress-bar-info h5 {
    font-weight: $font-weight-bold;
    color : $color-gray-normal;
}

.pot-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap : $spacing-md;

    button {
        width: 100%;
    }
}

.new-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.progress-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

// Extra small screens

@media (max-width : 340px) {
    .pot-details-info h2 {
        font-size: $font-size-lg + .5rem;
    }

    .pot-wrapper {
        padding: 1em;
    }
}