@import '@sass/utilities/_variables.scss';

.transactions-wrapper {
    display: flex;
    flex-direction: column;
    gap : $spacing-3xl;

    padding: 2em;

    background: white;
    border-radius: 15px;

    container-type: inline-size;
}

.transactions-filter-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.actual-filters {
    display: flex;
    align-items: center;
    gap : $spacing-2xl;
}

.sort-by-wrapper , .category-wrapper {
    display: flex;
    align-items: center;
    gap : $spacing-md;
}

.search-input {
    input {
        border: none;
        outline: none;

        &::placeholder {
            font-size: $font-size-md;
            color : $color-gray-light;
        }
    }

    border : 1px solid $color-navy;
    border-radius: 10px;
    padding: 1em 1em;
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in;

    &:hover {
        border: 1px solid $color-gray-dark;
    }
}

.transactions-main-section {
    display: flex;
    flex-direction: column;
    gap : $spacing-2xl;
}

.transactions-info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : $spacing-2xl;
}

.transactions-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.transactions-main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.transaction-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.transaction-sender {
    display: flex;
    align-items: center;
    gap : $spacing-lg;
    width: 100%;

    &-info {
        display: flex;
        flex-direction: column;
        h5 {
            display: none;
        }
    }
}

.transaction-amount {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap : $spacing-md;
    justify-content: end;
    align-items: end;
  }

.avatar {
    border-radius: 50%;
}

.transactions-button-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.prev-btn , .next-btn {
    background: none;
    outline: none;
    border : 1px solid $color-gray-light;

    display: flex;
    align-items: center;
    gap : $spacing-xl;
    padding: .8em 1.3em;
    border-radius: 5px;

    cursor: pointer;
    transition: all 0.3s ease-in;

    svg {
        color : #696868;
    }

    &:hover {
        background: $color-gray-light;
        svg , p{
            color : white;
        }
    }
}

.date-q {
    display: none;
    font-size: $font-size-xs;
    text-wrap: nowrap;
}

.due-date {
    display: flex;
    align-items: center;
    gap : $spacing-sm;

    span {
        text-wrap: nowrap;
    }
}

@container (max-width : 620px) {
    .transactions-main-header {
        display: none;
    }

    .transaction-sender {
        width: 100%;
    }

    .transaction-middle {
        display: none;
    }

    .date-q {
        display: block;
    }
}

@media (max-width : 1164px) {
    .transactions-wrapper {
        padding-bottom: calc(var(--sidebar-height) + 20px);
    }
}

@media (max-width : 968px) {
    .transactions-filter-section {
        gap : $spacing-2xs;
    }

    .search-input {
        width: auto;
    }

    .transaction-sender {
        width: 50%;
    }
}

@media (max-width : 768px) {
    .sort-by-wrapper h5 , .category-wrapper h5 {
        display: none;
    }

    .transaction-sender-info {
        gap : $spacing-md;
        h5 {
            display: flex;
        }
    }
}


@media (max-width : 654px) {
    .overview-card-wrapper .transactions-wrapper {
        padding: 0;
    }

    .transaction-sender {
        gap : $spacing-md;
        img {
            width: 36px;
            height: 36px;
        }
    }

    .actual-filters {
        gap : $spacing-md;
    }

    .transactions-wrapper {
        padding-inline: 1em;
    }
}

@media (max-width : 582px) {

    .pagination-section {
        padding-inline: .75em;
    }

    .prev-btn , .next-btn{
        p {
            display: none;
        }

        padding: 0.7em .9em;
    }

    .transactions-button-section {
        justify-content: space-evenly;
    }

    .pagination-btn {
        padding: 0.65em .9em!important;
    }
}

//Extra small devices

@media (max-width : 450px) {
    .transaction-sender-info h4 {
        text-wrap: nowrap;
    }
}